.item{
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    /* flex-direction: column;
    align-items: flex-start;
    align-items: center; */
    /* align-items: flex-end; */
}