
.header{
    font-size:60px;
     margin-top: 30px;
     color: black;
     padding-left: 20px;
}
.sect{
    padding: 20px;
}
.newimg{
    width: 100%;
    
    
    
}
.btn1{
    color: white;
    border: none;
    outline: none;
    background-color: #FF571E;
    padding: 10px 15px;
    border-radius: 4px;

}
.newlogo{
    padding-left: 40px;
}
.slantt{
    margin-top: -100px;
}
.slant2{
   padding-left: 20px;

}